/*
FUNÇÕES PADRÕES START
*********************************************************************/
.clear,
.first {
  clear: both;
}
/*********************************************************************
FUNÇÕES PADRÕES END
*/
/*
NON-RESPONSIVE START
**********************************************************************************************/
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO START */
.container {
  max-width: none !important;
  width: 960px;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
/* ALTERAR APENAS ESTAS VARIAVEIS DE ACORDO COM O PROJETO END */
/* Finesse the page header spacing */
.page-header {
  margin-bottom: 30px;
}
.page-header .lead {
  margin-bottom: 10px;
}
/* Non-responsive overrides** Utilitze the following CSS to disable the responsive-ness of the container,* grid system, and navbar.*/
/* Reset the container */
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
/**********************************************************************************************
NON-RESPONSIVE END
*/
::selection {
  background-color: #98a343;
  color: #FFF;
}
::-moz-selection {
  background-color: #98a343;
  color: #FFF;
}
small {
  display: inline-block;
  line-height: 1.1;
}
textarea {
  resize: vertical;
}
a,
button {
  transition: all 0.25s ease 0s;
}
/*
FONTS START
**********************************************************************************************/
.box-chamada .plus,
.media-home .title {
  font-family: 'ralewayheavy', Arial, sans-serif;
  font-weight: normal;
}
blockquote footer {
  font-family: 'robotoblack', Arial, sans-serif;
  font-weight: normal;
}
/**********************************************************************************************
FONTS END
*/
/*
ESTRUTURA START
**********************************************************************************************/
.extra-header {
  background: url(../imagem/site/bg-header-x.jpg) repeat-x top;
}
.extra-header .site-header {
  background: url(../imagem/site/bg-header.jpg) no-repeat center top;
}
.extra-fornecedores {
  background: #f6f6f6;
  border-top: 1px solid #ccc;
}
.extra-fornecedores .site-fornecedores {
  padding: 18px 0 30px;
}
.extra-fornecedores .media-heading {
  color: #a19b9a;
}
.extra-footer {
  background: #a4b048;
}
.extra-footer,
.extra-footer a {
  color: #FFF;
}
.extra-footer .site-footer {
  position: relative;
}
.extra-footer .site-footer .row {
  position: relative;
}
.extra-footer .site-footer .left {
  height: 100%;
  position: static;
}
.extra-footer .site-footer .right {
  padding: 15px 0;
}
.extra-footer .social-footer {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background: #7a813e;
  padding: 0 10px;
  white-space: nowrap;
}
.extra-footer .social-footer a {
  display: inline-block;
  padding: 10px 8px;
  vertical-align: middle;
}
/**********************************************************************************************
ESTRUTURA END
*/
/*
CLASSES START
**********************************************************************************************/
[class^='lista-'],
[class^='lista-'],
[class^='menu-'],
[class^='menu-'] ul,
.cycle-slideshow {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.btn-gray {
  background: #EEE;
  color: #C93F2A;
}
.btn-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.box-chamada {
  height: 235px;
  border: 1px solid #e6e6e6;
  position: relative;
  margin-bottom: 30px;
}
.box-chamada .link,
.box-chamada .imagem,
.box-chamada .desc,
.box-chamada .text,
.box-chamada .plus {
  display: block;
}
.box-chamada .imagem {
  position: relative;
  z-index: 1;
}
.box-chamada .desc {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 15px 20px;
  line-height: 1.1;
}
.box-chamada .text {
  margin-bottom: 10px;
}
.box-chamada .link {
  color: #FFF;
}
.box-chamada .plus {
  text-align: right;
  font-size: 18px;
  text-transform: uppercase;
}
.box-chamada.chamada-left .desc {
  background: #ffac2e;
}
.box-chamada.chamada-middle .desc {
  background: #fc5c85;
}
.box-chamada.chamada-right .desc {
  background: #0eb0df;
}
.box-banner-horizontal {
  margin-bottom: 30px;
}
.imagem {
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
}
.imagem-rounded {
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 150px;
}
.inline-block {
  display: inline-block;
}
[class^='icon-'],
[class*='icon-'] {
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  background-image: url(../imagem/site/icon.png);
}
.lista-fornecedores > li {
  float: left;
  width: 20%;
  text-align: center;
}
.media-home {
  background: #e6e7e7;
  line-height: 1.1;
  margin-bottom: 30px;
}
.media-home .pull-left {
  background: #98a343;
  color: #FFF;
  width: 160px;
  text-align: center;
}
.media-home .pull-left .icone {
  padding: 10px;
  display: block;
}
.media-home .pull-left .title {
  background: #7a813e;
  display: block;
  padding: 10px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  position: relative;
}
.media-home .pull-left .title .arrow {
  position: absolute;
  right: -9px;
  top: 50%;
  margin-top: -8px;
}
.media-home .media-body {
  padding: 20px 10px 20px 20px;
}
.media-home blockquote {
  border: 0;
  padding-left: 0;
  font-size: 12px;
  margin: 0;
  padding: 0;
}
.media-home blockquote footer {
  text-align: right;
  display: block;
  font-size: 12px;
}
.media-home blockquote footer:before,
.media-home blockquote small:before,
.media-home blockquote .small:before {
  content: " ";
}
.space {
  width: 1%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.relative {
  position: relative;
}
/**********************************************************************************************
CLASSES END
*/
/*
JQUERY UI START
**********************************************************************************************/
/**********************************************************************************************
JQUERY UI END
*/
@media (max-width: 767px) {
  /*    .site-geral:before {content:"TABLET";}*/
}
@media (max-width: 480px) {
  /*#GERAL:before {content:"MOBILE";}*/
}
@media (min-width: 981px) and (max-width: 1200px) {
  /*#GERAL:before {content:"ACIMA DE TABLET";}*/
}
